:.gitignore file:.gitignore
# Игнорируем папку со скачанными библиотеками, так как она создается автоматически
node_modules

# Игнорируем файл с секретными данными (если он появится в будущем)
.env